<!doctype html>
<html>
    <head>
        <!-- Files included below are from https://www.w3schools.com/bootstrap/bootstrap_get_started.asp -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
        <title>{{title}}</title>
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/blog">BLOGZ</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="{{a0}}"><a href="/">user page</a></li>
                    <li class="{{a1}}"><a href="/blog">view blog</a></li>
                    <li class="{{a2}}"><a href="/post_form">make new post</a></li>
                    <li class="{{a3}}"><a href="/login">login</a></li>
                    <li class="{{a4}}"><a href="/login/signup">signup</a></li>
                    <li class="{{a5}}"><a href="/logout">logout</a></li>
                </ul>
            </div>
        </nav>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category,message in messages %}
                <li class="{{category}}">{{message}}</li>
            {% endfor %}
            </ul>
            <hr/>
        {% endwith %}

        {% block content %}
        {% endblock %}

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>
