{% extends "base.html" %}

{% block content %}

<h3>{{post.title}}<h3>
<p>{{post.body}}</p>
<p class="time">{{post.time}}</p>
<p>likes {{post.likes}}</p>

{% if post.owner_id == user.id %}
    <form method="POST" action="/blog">
        <input type="hidden" name="post-id" value="{{post.id}}"/>
        <input type="submit" value="Delete Post"/>
    </form>
    
    <form method="POST" action="/post_form/edit">
        <input type="hidden" name="post-id" value="{{post.id}}"/>
        <input type="submit" value="Edit Post"/>
    </form>
{% else %}
    <form method="POST" action="/like_post">
        <input type="hidden" name="user-id" value="{{user.id}}"/>
        <input type="hidden" name="post-id" value="{{post.id}}"/>
            {% if liked.liked == True %}
                <input type="submit" value="UNLIKE"/>
            {% else %}
                <input type="submit" value="LIKE"/>
            {% endif %}
    </form>
{% endif %}
<hr/>
<h4>
    <a href="/blog">
        view blog
    </a>
</h4>
<h4>
    <a href="/post_form">
        make new post
    </a>
</h4>
{% endblock %}