body{
    background-color: #335;
    color: #ccf;
}
.error{
    color: #b00;
}
a{
    color: #99f;
}
a:hover{
    color: #99f;
    text-shadow: 0.15em 0.15em #66d;
}
textarea {
    margin: 10px 0;
    width: 340px;
    height: 120px;
}
form {
    padding: 20px;
    width: 200px;
    font: 16px sans-serif;
}
.time{
    font-size: 0.65em;
}